.card {
    width: 320px;
    height: 510px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;

    &__content {
        background-image: url(../../imgs/cat.svg);
        background-repeat: no-repeat;
        background-size: contain;
        height: 480px;
        width: 100%;
        display: flex;
        align-self: center;
        justify-content: center;
        cursor: pointer;

        &::after {
            content: '';
            width: 100%;
            height: 100%;
            position: absolute;
            background-image: url(../../imgs/default.svg);
            background-size: contain;
            background-repeat: no-repeat;
            z-index: 1;
        }

        &:hover {
            &::after {
                content: '';
                width: 100%;
                height: 100%;
                position: absolute;
                background-image: url(../../imgs/default_hover.svg);
                background-size: contain;
                background-repeat: no-repeat;
                z-index: 1;
            }
        }

        &_selected {
            &::after {
                content: '';
                width: 100%;
                height: 100%;
                position: absolute;
                background-image: url(../../imgs/selected.svg);
                background-size: contain;
                background-repeat: no-repeat;
                z-index: 1;
            }

            &:hover {
                &::after {
                    content: '';
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    background-image: url(../../imgs/selected_hover.svg);
                    background-size: contain;
                    background-repeat: no-repeat;
                    z-index: 1;
                }
            }
        }

        &_disabled {
            background: url(../../imgs/background_disabled.svg) center no-repeat;
            background-size: contain;
            pointer-events: none;

            &::after {
                background-image: none;
            }
        }
    }

    &__info {
        width: 65%;
    }

    &__title {
        margin-top: 20px;

        &_hover {
            color: #E62E7A !important;
        }
    }

    &__name {
        margin-top: 5px;
    }

    &__subtitle {
        margin-bottom: 15px;
    }

    &__weight {
        position: absolute;
        bottom: 54px;
        right: 36px;
        color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        z-index: 2;

        &_first {
            right: 27px;
        }
    }

    &__description {
        margin-top: 14px;
        font-size: 13px;
        line-height: 15px;
        text-align: center;
        color: white;

        &_dop {
            color: #1698D9;
            border-bottom: 1px dotted #1698D9;
            cursor: pointer;
        }

        &_disabled {
            color: #FFFF66;
        }
    }


    @media screen and (min-width: 920px) and (max-width:1100px) {
        width: 267px;
        height: 430px;

        &__info {
            width: 77%;
        }

        &__title {
            margin-top: 15px;
        }

        &__name {
            margin-top: 0;
        }

        &__subtitle {
            margin-bottom: 5px;
        }

        &__description {
            font-size: 11px;
        }

        &__weight {
            right: 33px;

            &_first {
                right: 27px;
            }
        }
    }

    @media screen and (min-width: 540px) and (max-width:919px) {
        width: 234px;
        height: 380px;

        &__info {
            width: 77%;
        }

        &__title {
            margin-top: 20px;
        }

        &__subtitle {
            margin-bottom: 5px;
        }

        &__description {
            font-size: 9px;
        }

        &__weight {
            bottom: 48px;
            right: 26px;

            &_first {
                right: 20px;
                bottom: 45px;
            }
        }

        &:first-child {
            grid-column: span 2;
        }
    }

    @media screen and (min-width: 320px) and (max-width:350px) {
        width: 280px;
        height: 460px;

        &__weight {
            bottom: 60px;
            right: 30px;

            &_first {
                right: 23px;
            }
        }
    }
}