.card {
  width: 320px;
  height: 510px;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}
.card__content {
  background-image: url(../../imgs/cat.svg);
  background-repeat: no-repeat;
  background-size: contain;
  height: 480px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}
.card__content::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: url(../../imgs/default.svg);
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 1;
}
.card__content:hover::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: url(../../imgs/default_hover.svg);
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 1;
}
.card__content_selected::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: url(../../imgs/selected.svg);
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 1;
}
.card__content_selected:hover::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: url(../../imgs/selected_hover.svg);
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 1;
}
.card__content_disabled {
  background: url(../../imgs/background_disabled.svg) center no-repeat;
  background-size: contain;
  pointer-events: none;
}
.card__content_disabled::after {
  background-image: none;
}
.card__title {
  margin-top: 20px;
}
.card__name {
  margin-top: 5px;
}
.card__subtitle {
  margin-bottom: 15px;
}
.card__weight {
  position: absolute;
  bottom: 54px;
  right: 36px;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 2;
}
.card__weight_first {
  right: 27px;
}
.card__description {
  margin-top: 14px;
  font-size: 13px;
  line-height: 15px;
  text-align: center;
  color: white;
}
.card__description_dop {
  color: #1698D9;
  border-bottom: 1px dotted #1698D9;
  cursor: pointer;
}
@media screen and (min-width: 920px) and (max-width: 1100px) {
  .card {
    width: 267px;
    height: 430px;
  }
  .card__title {
    margin-top: 10px;
  }
  .card__name {
    margin-top: 0;
  }
  .card__subtitle {
    margin-bottom: 5px;
  }
  .card__weight {
    right: 33px;
  }
  .card__weight_first {
    right: 27px;
  }
}
@media screen and (min-width: 540px) and (max-width: 919px) {
  .card {
    width: 234px;
    height: 380px;
  }
  .card__title {
    margin-top: 14px;
  }
  .card__subtitle {
    margin-bottom: 5px;
  }
  .card__weight {
    bottom: 48px;
    right: 26px;
  }
  .card__weight_first {
    right: 20px;
    bottom: 45px;
  }
  .card:first-child {
    -ms-grid-column-span: 2;
    grid-column: span 2;
  }
}